<div id="form.specialty"  >
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label for="specialty" class="mdl-textfield__label">Specialty</label>
        <input id="specialty" class="mdl-textfield__input" type="text" ng-model="vm.specialty" />
    </div>
    
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label for="specialtyDescription" class="mdl-textfield__label">Specialty description</label>
        <textarea id="specialtyDescription" class="mdl-textfield__input" type="text" rows="2" ng-model="vm.specialtyDescription" ></textarea>
    </div>

     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label for="credentialNumber" class="mdl-textfield__label">Credential number</label>
        <input id="credentialNumber" class="mdl-textfield__input" type="text" ng-model="vm.credentialNumber" />
    </div>

     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label for="issueDate" class="mdl-textfield__label">Issue date</label>
        <input id="issueDate" class="mdl-textfield__input" type="text" ng-model="vm.issueDate" />
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label for="issuingOrg" class="mdl-textfield__label">Issuing organization</label>
        <input id="issuingOrg" class="mdl-textfield__input" type="text" ng-model="vm.issuingOrg" />
    </div>

    
    
    <div class="modal-footer">
        <div>
            <a ui-sref="">
                <button type="button" class="btn btn-default pull-right">
                Next&nbsp;
                <i class="fa fa-arrow-right"></i>
                </button>
            </a>
        
        </div>
        
        <div>
            <a ui-sref="staff">
                <button type="button" class="btn btn-default pull-left">
                <i class="fa fa-arrow-left"></i>
                Back&nbsp;
                </button>
            </a>
        
        </div>
    </div>
</div>