<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label for="specialty" class="mdl-textfield__label">Specialty</label>
    <input id="specialty" class="mdl-textfield__input" type="text" ng-model="vm.specialty" />
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label for="specialtyDescription" class="mdl-textfield__label">Specilaty description</label>
    <textarea id="specialtyDescription" class="mdl-textfield__input" type="text" ng-model="vm.specialtyDescription" />
</div>

<div class="cbp-card__actions cbp-card--border">
    <input type="submit" value="submit" class="btn btn-primary pull-right" />
</div>