<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label for="staffType" class="mdl-textfield__label">Staff type</label>
    <input id="staffType" class="mdl-textfield__input" type="text" ng-model="vm.staffType" />
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label for="npiNumber" class="mdl-textfield__label">National provider identifier #</label>
    <input id="npiNumber" class="mdl-textfield__input" type="text" ng-model="vm.npiNumber" ng-focus="vm.placeMask()" ng-blur="vm.removeMask()"
        ui-mask="{{vm.npiMask}}" uib-popover-html="vm.npiLink" popover-trigger="'mouseenter'" popover-popup-close-delay="4000"
    />
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label for="firstName" class="mdl-textfield__label">First name</label>
    <input id="firstName" class="mdl-textfield__input" type="text" ng-model="vm.firstName" />
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label for="lastName" class="mdl-textfield__label">Last name</label>
    <input id="lastName" class="mdl-textfield__input" type="text" ng-model="vm.lastName" />
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label for="middleName" class="mdl-textfield__label">Middle name</label>
    <input id="middleName" class="mdl-textfield__input" type="text" ng-model="vm.middleName" />
</div>
<div class="cbp-card__actions cbp-card--border">
    <input type="submit" value="submit" class="btn btn-primary pull-right" />
</div>
<div>
    <a ui-sref="specialty">
        <button type="button" class="btn btn-default">
        Next&nbsp;
        <i class="fa fa-arrow-right"></i>
        </button>
    </a>

</div>